*{
            padding: 0;
            margin:0;
            box-sizing: border-box;
    }
    body{
        background-color: black;
    }
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
} */
.contain{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position: absolute;
         
            /* position:relative; */
            top: 54%;
            left: 50%;
            transform: translate(-50%, -50%);
    /* border:2px solid red; */
    /* margin-top:30vh; */
    color:white;

text-align: center;    }
        .ans button{
            display: flex;
            /* display: flex;
             */
             flex-direction: column;
             margin:20px;
             width:340px;
             cursor:pointer;
             background-color: #2d035e;
              font-size: 26px;
               width:1000px;
            text-align: center;
            border-radius: 40px; 
            padding-left:20px;
            border: 5px solid gold;
        color:white;}
        .ques{
            background-color: #2d035e;
            color:white;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            width:1400px;
            text-align: center;
            border-radius: 4rem;
            border: 0.5rem solid gold;
        }
        .win{
            color: black;
            
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
           
         text-align: center;
            top: 7%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            /* margin-top: 7px; */
            background-color: gold;
            /* border: 5px solid gold; */
            border-radius: 40px;
            width:400px;
        }
        .lifelines{
            color:white;
            /* text-align: center;
             */
             display: flex;
             justify-content: center;
             align-items: center;
             /* font-size: 100px;
              */
              
            }
            .op{
                
                border-radius: 50%;
                width: 60px;
              height :60px;
              cursor: pointer;
              margin: 8px;
              font-size: 30px;
        }
        .money{
              position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            /* position:relative; */
            top: 20.5%;
            left: 77%;
            transform: translate(-50%, -50%);
            background-color: gold;
            /* color:white;
             */
             text-align: center;
            font-size: 40px; 
            border-radius: 10px;    
            width:280px;  
            border: 10px solid gold;

        }
    .circle{
          
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            /* position:relative; */
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100px;
            width: 200px;
            border-radius: 150px 150px 0 0;
            background-color: #2d035e;
        
            border: 5px solid gold;
            color:white;
            font-size: 50px;
            text-align: center;

        
    }
    .clue{
        color:white;
        margin-top: 4px;
        font-size: 20px;
        font-weight: 600;
    }
.onn{
   
   
     height:400px;
     width: 600px;
     
    background-color: gold;
     display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position: absolute;
         
            /* position:relative; */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
}
.on{
    width:174px; 
    margin:15px;
    cursor:pointer;
    font-size:26px;
     border-radius:4px;

}

.quit{
      width:154px; 
    margin:3px;
    cursor:pointer;
    font-size:18px;
     border-radius:4px;

}
